@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap");

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  background: #324a51;
  position: fixed;
  width: 100%;
  z-index: 1;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 6rem;
    a {
      display: flex;
      align-items: center;
      padding: 0.7rem 1rem;
    }
    img {
      width: 2.5rem;
    }
    h3 {
      font-family: "Poppins", sans-serif;
      margin-left: 1rem;
      color: white;
      line-height: 2rem;
    }
    #logo-name {
      font-family: "Montserrat", sans-serif;
      font-size: 1.5em;
      color: #efd1be;
      margin-left: 1rem;
    }
    .navbar {
      display: flex;

      a:hover,
      .active {
        background: #95b0b7;
        transition: all 0.3s;
      }
    }
  }
}

#hero-section {
  background-image: url("./images/home-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  label {
    display: block;
    position: absolute;
    top: 55%;
    left: 50%;
    width: 80%;
    height: 75vh;
    perspective: 1000px;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%);
    cursor: pointer;

    :checked + .flip-card {
      transform: rotateX(180deg);
    }

    &:hover .flip-card {
      transform: rotateX(2deg);
      box-shadow: 0 20px 20px rgba(50, 60, 60, 0.2);
    }

    &:hover :checked + .flip-card {
      transform: rotateX(175deg);
      box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2);
    }

    input {
      display: none;
    }

    .flip-card {
      position: relative;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: all 0.5s ease-in-out;
      z-index: 1;
      .front,
      .back {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        background: rgba(50, 74, 81, 0.7);
        backface-visibility: hidden;
        border-radius: 0 20px 0 20px;
      }
      .front .container {
        margin-top: 8vh;
      }
      .back {
        transform: rotateX(180deg);
        color: #fff;
        background: rgba(50, 74, 81, 0.7);
      }
    }
    .front h1,
    .front h2,
    .front h3,
    .back h3 {
      font-family: "Poppins", sans-serif;
      color: white;
      line-height: 1.3em;
    }
    .front h1 {
      font-size: 4.3em;
    }
    .front h2 {
      font-size: 3em;
      font-weight: normal;
    }

    .front h3,
    .back h3 {
      font-size: 2em;
      font-weight: bold;
      margin-top: 1em;
      color: #efd1be;
    }
    .back h2 {
      font-family: "Montserrat", sans-serif;
      font-size: 1.8em;
      font-weight: bold;
      margin: 2.5em 2em;
    }
  }
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  line-height: 2em;
  text-align: center;
}

#unity-section {
  position: relative;
  height: 100vh;
  background-image: url("./images/unity-bg.jpg");
  background-size: cover;
  background-position: bottom;
  .white {
    color: white;
    background: #95b0b7;
  }
  img {
    position: absolute;
    display: flex;
    margin-left: 7.8rem;
    top: 4.8rem;
    width: 6.5em;
  }
  .pinoy,
  .american {
    margin-top: 1.3rem;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2em;
    width: 90%;
    margin-inline: auto;
    .box {
      background: #262626;
      margin-top: 6rem;
      padding-block: 4rem 1rem;
      p {
        font-family: "Poppins", sans-serif;
        font-size: 1.15em;
        color: white;
        margin-inline: 1.2em;
        text-align: center;
      }
    }
  }
}

#profile {
  position: relative;
  height: 100vh;
  background-image: url("./images/profile-bg.jpg");
  background-size: cover;
  background-position: center;
  .title {
    background: #efd1be;
  }
  .container {
    width: 80%;
    margin-inline: auto;
    img {
      position: absolute;
      width: 10rem;
      border-radius: 50%;
      border: 3px #324a51 solid;
      top: -6.3rem;
      left: 50%;
      transform: translateX(-50%);
    }
    .profile-card {
      position: relative;
      background: #324a51;
      margin-top: 22vh;
      padding-block: 5rem 2rem;
      .container {
        h3 {
          font-family: "Montserrat", sans-serif;
          color: white;
          line-height: 2.3em;
        }
        span {
          color: #efd1be;
        }
      }
    }
  }
}
